<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!--    <context:component-scan base-package="com.mycompany.dao" />-->
    <bean id="student" class="com.mycompany.dao.Student" autowire="byType"/>
<!--        <property name="firstName" value="Adam" />
        <property name="lastName" value="Smith" />
        <property name="dateOfBirth" value="01/01/2000" />
    </bean>-->
    
    
    <!--<bean id="studentManager" class="com.mycompany.dao.StudentManager" autowire="byType"/>-->

    <bean id="newAddress" class="com.mycompany.dao.Address" autowire="byType">
        <property name="street" value="1234 Main St." />
        <property name="city" value="Houston" />
        <property name="zip" value="77088" />
    </bean>
 
    <bean id="newGrade" class="com.mycompany.dao.Grade" autowire="byType">
        <property name="subject" value="Computer Science" />
        <property name="letterGrade" value="A" />
    </bean>


</beans>
